.header_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  color: var(--contrast-color);
  cursor: pointer;
}
.header_menu > .header_item:hover {
  background-color: var(--hover-color);
}

.header_item_text {
  font-size: var(--fontsize);
  color: var(--contrast-color);
}